@font-face {
  font-family: charter;
  src: url("../fonts/fonts/charter-regular.otf");
  font-style: normal;
  font-weight: 400; /* normal */
}
@font-face {
  font-family: charter;
  src: url("../fonts/fonts/charter-italic.otf");
  font-style: italic;
  font-weight: 400; /* normal */
}
@font-face {
  font-family: charter;
  src: url("../fonts/fonts/charter-bold.otf");
  font-style: normal;
  font-weight: bold; /* normal */
}
@font-face {
  font-family: charter;
  src: url("../fonts/fonts/charter-bold-italic.otf");
  font-style: italic;
  font-weight: bold; /* normal */
}

/* apunta al html, pero se pone en Pseudo Clase tiene más peso */
:root {
  font-size: 16px;
  --gray30: #212121;
  --gray20: #212429;
  --gray10: #616161;
}
/* html {
  font-size: 16px;
} */
body {
  /*  color: #212121; */
  color: var(--gray30);
  /*   font-family:charter ;/* Nombre de fuente */
  font-family: "Roboto", sans-serif; /* Nombre de fuente */

  /* font-size: 10px; */
}
a {
  color: var(--gray30);
}
header {
  /* --gray10: red; */
  /*  background: red;
  width: 50vw; /* Relativo en el ancho, con vw */
  font-size: 14px;
  color: var(--gray10);
}
header a {
  color: var(--gray10);
  /*   text-decoration: underline; que tenga una linea */
  text-decoration: none;
}
header a:hover {
  color: var(--gray30);
}

nav details summary {
  font-weight: bold;
}

/* ol li:first-child {
  border: 1px solid red;
} */

h1 {
  /* font-size: 60px; */
  font-size: 3.75rem;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
pre {
  background: #fec62e;
}
.hero {
  /* Degradado */
  background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.3),
      transparent
    ),
    url("../images/pattern.png");
  /* background-repeat: no-repeat; */
  /* background-position:center; */
  /* background-size: 100%; */
  height: 350px;
  width: 100%;
}
/* @media screen and (max-width: 600px) {
  body {
    font-size: 5px;
  }
}
 */
/* Pseudoelemento un elemento después a algún elemento */
.section-content {
  counter-reset: titleList;
}
.section-content h3 {
  counter-increment: titleList;
}
.section-content h3::before {
  content: counter(titleList, decimal);
}
.section-content h3::after {
  content: "";
  width: 32px;
  height: 4px;
  background: var(--gray30);
  display: inline-block;
}
/* ::selection{
  background: blue;
} */
